body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.box {
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.1);
    border-radius: 0px 0px 0px 0px;
}
.control-group {
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: rgb(251, 251, 251);
}
.form-horizontal .control-group {
    margin-bottom: 0px;
}
.control-label {
    padding: 6px 15px;
    margin-bottom: 0;
    font-weight: bold;
}
.form-horizontal .control-label {
    padding: 19px 0px 0px;
    margin-bottom: 0px;
    font-weight: bold;
}
.controls {
    padding: 10px 0px 0px 15px;
    border-left: 1px solid rgb(238, 238, 238);
    background-color: white;
}

.controls input[type=file] {
    width: 220px;
}

.form-horizontal .controls {
    padding: 15px 0 15px 20px;
}

.form-actions.fixed{
    position: fixed;
    _position: absolute;
    bottom: 0;
    z-index: 295;
    margin-left: -10px;
    -webkit-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    right: 10px;
}

.form-actions.fixed .pull-right{
    float: none;
    margin-left: 20px;
}

.required {
    color: red;
    font-weight:bold;
}

/*
 * DataTable Styles
 */
div.dataTables_wrapper .dataTables_length label,
div.dataTables_wrapper .dataTables_filter label,
div.dataTables_wrapper .dataTables_paginate ul {
    font-size: 12px;
}

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_filter input {
    margin-bottom: 0;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table.gridTable {
    clear: both;
    margin-bottom: 5px;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.dataTable th:active {
    outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot table {
    border-top: none;
}

/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
    background-color: #08C;
    color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
    background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
    cursor: pointer;
    *cursor: hand;
}

div.DTTT .btn {
    color: #333 !important;
    font-size: 12px;
}

div.DTTT .btn:hover {
    text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
    color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
    background-color: #0088cc;
    color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
    height: 150px;
    margin-top: -75px;
    text-align: center;
}

div.DTTT_print_info h6 {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
}

div.DTTT_print_info p {
    font-size: 14px;
    line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
    background-color: white;
}

div.DTFC_LeftHeadWrapper table {
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}

div.DTFC_LeftFootWrapper table {
    border-top: none;
}


/* FineUploader styles */
.qq-upload-button {
    display: block;
    width: 220px;
    padding: 7px 0;
    text-align: center;
    border-bottom: 1px solid #DDD;
    color: #FFF;
}

li.alert {
    margin-top: 3px;
    font-size: 12px;
}

li.alert-success {
    background-color: #DFF0D8;
}

li.alert-error {
    background-color: #F2DEDE;
}

.qq-upload-size {
    float: right;
}

.qq-upload-list {
    width: 400px;
}

.alert-error .qq-upload-failed-text {
    display: inline;
}

/* wizard styles */
.wizard {
    margin-bottom: 20px;
}
.wizard a {
    padding: 10px 12px 10px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
    text-decoration:none;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #007ACC;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #007ACC;
}


/* ff anti-aliasing bug - http://coderwall.com/p/tpmsta */
.mywizard li {
    position: relative;
    background: #f5f5f5;
    padding-right: 30px;
    padding-left: 5px;
}

.mywizard li a:after, .mywizard li a:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mywizard li a:after {
    border-color: rgba(245, 245, 245, 0);
    border-left-color: #f5f5f5;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
    margin-left: -30px;
}

.mywizard li a:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 30px;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
}
.mywizard li .badge {
    vertical-align: text-bottom;
    padding-top: 3px;
}