/*---------- Common Items ----------------------*/
html,body {
    /*-webkit-font-smoothing:antialiased;*/
    height:100%;
    font-family: arial, sans-serif;
    color: #999;
    background-color:#fff;
    font-size: 12px;
}
/*---------- Common Items End ------------------*/
/*---------- Links -----------------------------*/
a {
    color: #37a;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
a:hover {
    color: #fff;
    /*font-family: Arial, Helvetica, sans-serif;*/
    background-color: #37a;
    text-decoration: none;
}
a.link-new-window {
    color: #dedede;
    margin-left: 3px;
}
a.link-new-window:hover {
    color: #37a;
    background-color: #fff;
}
a.link-artist {
    color: #999;
    font-size: 11px;
    background-color: #fff;
}
a.link-artist:hover {
    color:#1ba5a0;
}
/*---------- Links END -------------------------*/
/*---------- Icons Customizations --------------*/
/* color */
i.icon-bglight {
    color: #e96b56;
    background: #f7f7f7;
}

/*i.icon-bglight.active:hover{*/
/*color: #444;*/
/*background: #f7f7f7;*/
/*}*/
i.icon-bglight.active,
i.icon-bgdark {
    color: #f7f7f7;
    background: #e96b56;
}
/*[class^="icon-"].active {*/
/*color:#e96b56;*/
/*}*/
/*a i.icon-bglight:hover,*/
/*a i.icon-bgdark:hover {*/
/*background: #e96b56;*/
/*}*/
/*i.icon-bglight.active {*/
/*background: #e96b56;*/
/*}*/

/*i.icon-bgdark.active {*/
/*background: #e96b56;*/
/*}*/
/*ul.styledlist li:before {*/
/*color:#e96b56;*/
/*}*/
/* square */
.icon-square {
    display: inline-block;
    text-align: center;
    color: #444;
    background: #f5f5f5;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}
.icon-square.icon-2x{
    width: 48px !important;
    height: 48px !important;
    line-height: 48px !important;
}
.icon-square.icon-3x{
    width: 72px !important;
    height: 72px !important;
    line-height: 72px !important;
}
.icon-square.icon-4x{
    width: 96px !important;
    height: 96px !important;
    line-height: 96px !important;
}
.icon-square.icon-5x{
    width: 120px !important;
    height: 120px !important;
    line-height: 120px !important;
}

/* rounded */
.icon-rounded {
    display: inline-block;
    border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    text-align: center;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}
.icon-rounded.icon-2x{
    width: 48px !important;
    height: 48px !important;
    line-height: 48px !important;
}
.icon-rounded.icon-3x{
    width: 72px !important;
    height: 72px !important;
    line-height: 72px !important;
    border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
}
.icon-rounded.icon-4x{
    width: 96px !important;
    height: 96px !important;
    line-height: 96px !important;
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
}
.icon-rounded.icon-5x{
    width: 120px !important;
    height: 120px !important;
    line-height: 120px !important;
    border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
}
/* circled */
.icon-circled {
    display: inline-block;
    border-radius: 1000px !important;
    -moz-border-radius: 1000px !important;
    -webkit-border-radius: 1000px !important;
    -o-border-radius: 1000px !important;
    -ms-border-radius: 1000px !important;
    text-align: center;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}

.icon-circled.icon-2x{
    width: 48px !important;
    height: 48px !important;
    line-height: 48px !important;
}
.icon-circled.icon-3x{
    width: 72px !important;
    height: 72px !important;
    line-height: 72px !important;
}
.icon-circled.icon-4x{
    width: 96px !important;
    height: 96px !important;
    line-height: 96px !important;
}
.icon-circled.icon-5x{
    width: 120px !important;
    height: 120px !important;
    line-height: 120px !important;
}
/*---------- Icons Customizations End ----------*/
/*---------- Navbar Customizations -------------*/
.gt-navbar {
    background:rgba(46,46,46,0.8);
    /*font-weight: bold;*/
    height: 54px;
    border-bottom: 1px solid #333;
}
.gt-navbar .navbar-brand {
    color: #fff;
    padding-right: 30px;
    font-size: 20px;
}
.gt-navbar .navbar-nav > li > a {
    height: 53px;
    color: #aaa;
    font-size: 14px;
}
@media (max-width: 768px) {
    .gt-navbar .navbar-nav > li > a {
        background:rgba(46,46,46,0.8);
    }
}
.gt-navbar .navbar-nav > li > a:hover,
.gt-navbar .navbar-nav > li.active > a,
.gt-navbar .navbar-nav > li.active > a:hover {
    background:rgba(46,46,46,0.8);
}
.gt-navbar .navbar-nav > li.active:after {
    position:absolute;
    top:46px;
    left:30px;
    content:'';
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid #eee;
}
.gt-navbar .navbar-search {
    /*position: relative;*/
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    width: 260px;
}
.gt-navbar .search-only:before {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 25px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}
.gt-navbar .search-only .form-control {
    padding-left: 30px;
}
/*---------- Navbar Customizations END ----------*/
/*---------- Index Landing ----------------------*/
.gt-landing {
    background: no-repeat center center;
    /*margin-top: -60px;*/
    /*padding-top:160px;*/
    text-align:center;
    margin-left:-2px;
    margin-bottom: 20px;
    padding-top: 220px;
    height:300px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    text-align: center;
}
/*---------- Index Landing END ------------------*/
/*---------- Index Tabs -------------------------*/
.gt-tabs {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
/*.gt-tabs .gt-icon-wrap {*/
/*-webkit-border-radius: 50%;*/
/*-moz-border-radius: 50%;*/
/*border-radius: 50%;*/
/*background-color: #f9f9f9;*/
/*width: 50px;*/
/*height: 50px;*/
/*line-height: 50px;*/
/*font-size: 25px;*/
/*color: #e84c3d;*/
/*text-align: center;*/
/*}*/
.gt-tabs h4 {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
    color: #aaa;
}
.gt-tabs h4.active {
    color: #e96b56;
}
.gt-tabs ul {
    padding: 10px 10px 0 5px;
    /*background-color: #f9f9f9;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}
.gt-tabs ul li {
    padding: 4px 0;
    border-bottom: 1px dashed #ddd;
}
.gt-tabs .label {
    font-size: 9px;
    /*background-color: #999;*/
}
.gt-tabs .gt-tabs-hot .badge {
    margin-right: 5px;
    padding: 2px 5px;
    font-size: 11px;
    color: #ffffff;
    border-radius: 5px;
}
.gt-tabs .gt-tags a:hover, .gt-tabs .gt-styles a:hover {
    background-color: #eee;
}
.gt-tabs .gt-tags h4, .gt-tabs .gt-styles h4
{
    background-color: #fff;
    padding: 10px 10px;
    margin: 0px;
    color: #1ba5a0;
    font-size: 14px;
    line-height: 14px;
    border-bottom: 1px solid #f7f7f7;
}
.gt-tabs .gt-tags h4.active, .gt-tabs .gt-styles h4.active {
    color: #fff;
    background-color: #1ba5a0;
}
#stylecloud, #tagcloud {
    padding: 5px 15px 10px 15px;
}
/*---------- Tabs END ---------------------------*/
/*---------- Video ------------------------------*/
.gt-video {
    border-top: 1px solid #FFFDFD;
    background: #F7F7F7;
    padding: 20px 0;
}
/*---------- Video END --------------------------*/
/*---------- Footer -----------------------------*/
.footer {
    background-color:#303133;
    width:100%;
    padding:30px 0;
    color:#ccc;
    text-align: center;
    font-size: 12px;
    border-top: solid 4px #c0392b;
}
.footer a {
    font-size: 22px;
    color:#ccc;
    text-decoration: none;
}
.footer a:hover {
    color:#e84c3d;
    background-color: #303133;
}
/*---------- Footer END -------------------------*/
/*---------- Bootstrap Overwrite ----------------*/

/*---------- Bootstrap Overwrite END ------------*/


.error-info {
    padding: 20px 0;
}