/*---------- Common Items ----------------------*/
html,body {
    /*-webkit-font-smoothing:antialiased;*/
    height:100%;
    font-family: arial, sans-serif;
    color: #999;
    background-color:#fff;
    font-size: 12px;
}
.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px; /* -1 * image width / 2 */
    margin-top: -5px;  /* -1 * image height / 2 */
    display: block;
}
/*---------- Common Items End ------------------*/
/*---------- Links -----------------------------*/
a {
    color: #888;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
a:hover {
    color: #83bf73;
    text-decoration: none;
}
a.link-list-tab {
    font-size:13px;
}
a.link-list-tab:hover {
    color: #fff;
    background-color: #83bf73;
    text-decoration: none;
    border-radius: 3px;
}
a.link-new-window {
    color: #dedede;
    margin-left: 3px;
    font-size: 80%;
}
a.link-new-window:hover {
    color: #666;
    background-color: #fff;
    padding-left: 3px;
}
a.link-list-artist {
    color: #999;
    font-size: 13px;
}
a.link-list-artist:hover {
    color:#83bf73;
    background-color: #f7f7f7;
}
a.link-more {
    padding-right: 3px;
}
a.link-more:hover {
    padding-right: 0px;
}
/*---------- Links END -------------------------*/
/*---------- Icons Customizations --------------*/
/* color */
i.icon-bglight {
    color: #e96b56;
    background: #f7f7f7;
}

/*i.icon-bglight.active:hover{*/
/*color: #444;*/
/*background: #f7f7f7;*/
/*}*/
i.icon-bglight.active,
i.icon-bgdark {
    color: #f7f7f7;
    background: #e96b56;
}
/*[class^="icon-"].active {*/
/*color:#e96b56;*/
/*}*/
/*a i.icon-bglight:hover,*/
/*a i.icon-bgdark:hover {*/
/*background: #e96b56;*/
/*}*/
/*i.icon-bglight.active {*/
/*background: #e96b56;*/
/*}*/

/*i.icon-bgdark.active {*/
/*background: #e96b56;*/
/*}*/
/*ul.styledlist li:before {*/
/*color:#e96b56;*/
/*}*/
/* square */
.icon-square {
    display: inline-block;
    text-align: center;
    color: #444;
    background: #f5f5f5;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}
.icon-square.icon-2x{
    width: 48px !important;
    height: 48px !important;
    line-height: 48px !important;
}
.icon-square.icon-3x{
    width: 72px !important;
    height: 72px !important;
    line-height: 72px !important;
}
.icon-square.icon-4x{
    width: 96px !important;
    height: 96px !important;
    line-height: 96px !important;
}
.icon-square.icon-5x{
    width: 120px !important;
    height: 120px !important;
    line-height: 120px !important;
}

/* rounded */
.icon-rounded {
    display: inline-block;
    border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    text-align: center;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}
.icon-rounded.icon-2x{
    width: 48px !important;
    height: 48px !important;
    line-height: 48px !important;
}
.icon-rounded.icon-3x{
    width: 72px !important;
    height: 72px !important;
    line-height: 72px !important;
    border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
}
.icon-rounded.icon-4x{
    width: 96px !important;
    height: 96px !important;
    line-height: 96px !important;
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
}
.icon-rounded.icon-5x{
    width: 120px !important;
    height: 120px !important;
    line-height: 120px !important;
    border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
}
/* circled */
.icon-circled {
    display: inline-block;
    border-radius: 1000px !important;
    -moz-border-radius: 1000px !important;
    -webkit-border-radius: 1000px !important;
    -o-border-radius: 1000px !important;
    -ms-border-radius: 1000px !important;
    text-align: center;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}

.icon-circled.icon-2x{
    width: 48px !important;
    height: 48px !important;
    line-height: 48px !important;
}
.icon-circled.icon-3x{
    width: 72px !important;
    height: 72px !important;
    line-height: 72px !important;
}
.icon-circled.icon-4x{
    width: 96px !important;
    height: 96px !important;
    line-height: 96px !important;
}
.icon-circled.icon-5x{
    width: 120px !important;
    height: 120px !important;
    line-height: 120px !important;
}
/*---------- Icons Customizations End ----------*/
/*---------- Navbar Customizations -------------*/
.gt-navbar {
    background:rgba(46,46,46,0.8);
    /*font-weight: bold;*/
    height: 54px;
    border-bottom: 1px solid #333;
}
.gt-navbar .navbar-brand {
    color: #fff;
    padding-right: 30px;
    font-size: 20px;
}
.gt-navbar .navbar-nav > li > a {
    height: 53px;
    color: #aaa;
    font-size: 14px;
}
@media (max-width: 768px) {
    .gt-navbar .navbar-nav > li > a {
        background:rgba(46,46,46,0.8);
    }
}
.gt-navbar .navbar-nav > li > a:hover,
.gt-navbar .navbar-nav > li.active > a,
.gt-navbar .navbar-nav > li.active > a:hover {
    background:rgba(46,46,46,0.8);
}
.gt-navbar .navbar-nav > li.active:after {
    position:absolute;
    top:46px;
    left:30px;
    content:'';
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid #eee;
}
.gt-navbar .navbar-search {
    /*position: relative;*/
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    width: 260px;
}
.gt-navbar .search-only:before {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 25px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}
.gt-navbar .search-only .form-control {
    padding-left: 30px;
}
/*---------- Navbar Customizations END ----------*/
/*---------- Landing Box ------------------------*/
.gt-landing {
    background: no-repeat center center;
    /*margin-top: -60px;*/
    /*padding-top:160px;*/
    text-align:center;
    margin-left:-2px;
    margin-bottom: 20px;
    padding-top: 220px;
    height:300px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    text-align: center;
}
.gt-landing.small {
    padding: 0px;
    margin: 0px;
    height:200px;
}
/*---------- Landing Box END --------------------*/
/*---------- Footer -----------------------------*/
.footer {
    background-color:#303133;
    width:100%;
    padding:30px 0;
    color:#ccc;
    text-align: center;
    font-size: 12px;
    border-top: solid 4px #c0392b;
}
.footer a {
    font-size: 22px;
    color:#ccc;
    text-decoration: none;
}
.footer a:hover {
    color:#e84c3d;
    background-color: #303133;
}
/*---------- Footer END -------------------------*/
/*---------- Bootstrap Overwrite ----------------*/
.alert.alert-info {
    background-color: #3bc492;
    border: 1px solid #3bc492;
}
.btn.btn-info {
    background-color: #3bc492;
    border: 1px solid #3bc492;
}
.pagination > li > a,
.pagination > li > span {
    border: 0px;
    margin-right: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 1px 6px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #3bc492;
    border-color: #3bc492;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #3bc492;
    background-color: #eeeeee;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ccc;
  cursor: default;
  background-color: #ffffff;
  border: 0;
}
/*---------- Bootstrap Overwrite END ------------*/
/*---------- Index Page -------------------------*/
.gt-index-tabs {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
/*.gt-tabs .gt-icon-wrap {*/
/*-webkit-border-radius: 50%;*/
/*-moz-border-radius: 50%;*/
/*border-radius: 50%;*/
/*background-color: #f9f9f9;*/
/*width: 50px;*/
/*height: 50px;*/
/*line-height: 50px;*/
/*font-size: 25px;*/
/*color: #e84c3d;*/
/*text-align: center;*/
/*}*/
.gt-index-tabs h4 {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
    color: #aaa;
}
.gt-index-tabs h4.active {
    color: #e96b56;
}
.gt-index-tabs ul {
    padding: 10px 10px 0 5px;
    /*background-color: #f9f9f9;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}
.gt-index-tabs ul li {
    padding: 4px 0;
    border-bottom: 1px dashed #ddd;
}
.gt-index-tabs .label {
    font-size: 9px;
    /*background-color: #999;*/
}
.gt-index-tabs .hot-box .badge {
    margin-right: 5px;
    padding: 2px 5px;
    font-size: 11px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #dedede;
}
.gt-index-tabs .new-box .icon-angle-right {
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #dedede;
}
.gt-index-videos {
    border-top: 1px solid #FFFDFD;
    background-color: #F7F7F7;
    padding: 20px 0;
}
/*---------- Index Page END ---------------------*/
/*---------- Tabs Page --------------------------*/
.gt-tabs-header {
    border-bottom: 1px solid #d3d7d7;
    background-color: #F7F7F7;
    padding-top: 70px;
    padding-bottom:15px;
}
.gt-tabs-header .letters{
    margin-bottom: 10px;
}
.gt-tabs-header .letters .btn {
    min-width:31px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.gt-tabs-header .letters .btn-default {
    color: #999;
}
.gt-tabs-header a {
    margin-right: 7px;
    color: #3bc492;
    padding:2px
}
.gt-tabs-header a:hover {
    background-color: #d3d7d7;
}
.gt-tabs-header a.active {
    color: #FFF;
    background-color: #3bc492;
}
.gt-tabs-header .categories, .gt-tabs-header .regions {
    font-size: 13px;
}
.gt-tabs-header .artists {
    background-color: #FFF;
    margin-top: 10px;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #d3d7d7;
    border-radius: 4px;
}
.gt-tabs-header .artists a {
    white-space:nowrap;
}
.gt-tabs-header .artists a.male {
    color: #66afe9;
}
.gt-tabs-header .artists a.female {
    color: #FF9797;
}
.gt-tabs-header .artists a.group {
    color: #aab5f0;
}
.gt-tabs-header .artists a.band {
    color: #e74c3c;
}
.gt-tabs-header .artists a.other {
    color: #999;
}
.gt-tabs-header .artists a.active {
    color: #FFF;
    background-color: #3bc492;
}
.gt-tabs-list {
    padding: 20px;
}
.gt-tabs-list .list-header {
    border-bottom: 1px solid #dedede;
    height: 38px;
}
.gt-tabs-list .list-header .header-text {
    padding-top: 10px;
}
.gt-tabs-list .list-header .header-text .label {
    font-size: 100%;
    padding: .3em .6em .3em;
}
.gt-tabs-list .list-body tr {
    border-bottom: 1px dashed #eee;
    line-height: 21px;
    font-size: 13px;
    height:32px;
}
.gt-tabs-list .list-body tr:hover {
    background-color: #fafafa;
}
.gt-tabs-list .list-body td a.link-tab-subject {
    color: #428bca;
    font-size: 13px;
}
.gt-tabs-list .list-body td a.link-tab-subject:hover {
    color: #fff;
    background-color: #428bca;
}
.gt-tabs-list .list-body td.tab-style {
    color: #90a0dd;
    font-size: 11px;
}
.gt-tabs-list .list-body td.tab-difficulty {
    color: #f0ad4e;
    font-size: 11px;
}
.gt-tabs-list .list-body td.tab-hits {
    color: #e96b56;
    font-size: 11px;
}
.gt-tabs-list span.highlight {
    background-color: #FFFF88;
}
/*.gt-tabs-list ul li a {*/
/*color: #37a;*/
/*}*/
/*.gt-tabs-list ul li a:hover {*/
/*color: #fff;*/
/*background-color: #37a;*/
/*}*/
/*---------- Tabs Page END ----------------------*/
/*---------- Tab View Page ----------------------*/
.gt-tab-view {
    margin:20px 0px;
}
/*---------- Tab View Page END ------------------*/
/*---------- Error Page -------------------------*/
.gt-error-info {
    padding: 20px 0;
}
/*---------- Error Page END ---------------------*/
/*---------- Right Slide ------------------------*/
.gt-tags a:hover, .gt-styles a:hover {
    background-color: #EEE;
}
.gt-tags h4, .gt-styles h4
{
    background-color: #FFF;
    padding: 10px 10px;
    margin: 0px;
    color: #3bc492;
    font-size: 14px;
    line-height: 14px;
    border-bottom: 1px solid #f7f7f7;
}
.gt-tags h4.active, .gt-styles h4.active {
    color: #FFF;
    background-color: #3bc492;
}
#styleCloud, #tagCloud {
    padding: 5px 15px 10px 15px;
}
/*---------- Right Slide END --------------------*/