{% extends "site/base.html" %}
{% block navbar_search %}{% endblock %}
{% block body %}
    <div class="error-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <p class="">Coming soon... <a href="/">返回首页 <i class="icon-hand-right"></i></a></p>
                    <img src="{{ url_for('static', filename='images/404.jpg') }}" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}