<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Guitar123 {% block title %}{% endblock %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="lowrain">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap3/css/bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='FontAwesome/css/font-awesome.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootflat/css/bootflat.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootflat/css/bootflat-extensions.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootflat/css/bootflat-square.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='fancybox/jquery.fancybox.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='animate/animate.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='jqcloud/jqcloud.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='browser/detection.css') }}" media="screen">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block style %}{% endblock %}
    <script src="{{ url_for('static', filename='js/head.min.js') }}"></script>
</head>
<body>
<!-- top nav -->
<header class="navbar navbar-inverse navbar-fixed-top gt-navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="javascript:void(0);" class="navbar-brand e_swing"><img src="{{ url_for('static', filename='images/logo.png') }}" width="24" /> Guitar123</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="{% block active_navbar_home %}{% endblock %}">
                    <a href="/"><i class="icon-home"></i> 首页</a>
                </li>
                <li class="{% block active_navbar_tabs %}{% endblock %}">
                    <a href="/tabs"><i class="icon-file-text"></i> 曲谱</a>
                </li>
                <li class="{% block active_navbar_video %}{% endblock %}">
                    <a href="/videos"><i class="icon-youtube-play"></i> 视频</a>
                </li>
                <li class="{% block active_navbar_course %}{% endblock %}">
                    <a href="/course"><i class="icon-book"></i> 教材</a>
                </li>
                <li class="{% block active_navbar_fm %}{% endblock %}">
                    <a class="fm_link" href="http://douban.fm/?cid=1000399" target="_blank"><i class="icon-music"></i> FM</a>
                </li>
            </ul>
            {% block navbar_search %}
                <div class="form-search search-only pull-right navbar-search">
                    <form action="{{ url_for('bp_site_tabs.tabs') }}" method="get" class="search-form">
                        <input name="search" type="text" class="form-control search-query" placeholder="输入歌曲名或艺人名进行搜索">
                    </form>
                </div>
            {% endblock %}
        </nav>
    </div>
</header>

{% block landing %}
    <!-- index landing -->
    <div class="gt-landing" id="gt-landing">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="{{ url_for('bp_site_tabs.tabs') }}" method="get" class="search-form">
                        <div class="input-group input-group-square">
                            <input name="search" type="text" class="form-control" placeholder="输入歌曲名或艺人名进行搜索">
                        <span class="input-group-btn">
                          <button class="btn btn-info" type="submit"><i class="icon-search"></i></button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}

<!-- footer -->
<div class="footer">
    <p>Copyright © 2013 - Guitar123&nbsp;&nbsp;|&nbsp;&nbsp;Created and Maintained by <span style="color:#e84c3d">@lowrain</span>&nbsp;&nbsp;
        <a href="mailto:jinzm1982@gmail.com" title="意见反馈"><i class="icon-envelope"></i></a>&nbsp;
        <a title="GitHub" href="https://github.com/lowrain" target="_blank"><i class="icon-github"></i></a>&nbsp;
        <a class="jiathis_follow_tsina" href="http://weibo.com/jinzemin" title="关注站长" target="_blank"><i class="icon-weibo"></i></a>
    </p>
    <p class="text-muted">声明：本站所有曲谱均来自网络，如有版权问题请联系站长</p>
</div>
{% block script_before_headjs %}{% endblock %}
<script>
    head.js("{{ url_for('static', filename='js/jquery.min.js') }}",
            "{{ url_for('static', filename='bootstrap3/js/bootstrap.min.js') }}",
            "{{ url_for('static', filename='fancybox/jquery.fancybox.pack.js') }}",
            "{{ url_for('static', filename='animate/animate.js') }}",
            "{{ url_for('static', filename='js/jquery.tagcloud.js') }}",
            "{{ url_for('static', filename='js/custom.js') }}",
            "{{ url_for('static', filename='browser/detection.js') }}");

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42340313-2']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% block script_after_headjs %}{% endblock %}
</body>
</html>
