{% extends "site/base.html" %}

{% block title %} - home{% endblock %}
{% block active_navbar_home %}active{% endblock %}
{% block navbar_search %}{% endblock %}
{% block body %}
    <!-- index content -->
    <div class="gt-index-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-8 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="hot-box">
                                <i class="icon icon-star icon-circled icon-bglight icon-2x pull-left"></i>
                                <h4 class="pull-left">最热曲谱 · · · · · ·</h4>
                                <div class="clearfix"></div>
                                <ul class="list-unstyled">
                                    <li class="clearfix">
                                        <span class="badge pull-left">1</span>
                                        <a href="#" class="pull-left">风雨无阻</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">周华健</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">2</span>
                                        <a href="#" class="pull-left">我是一只小小鸟</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">赵传</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">3</span>
                                        <a href="#" class="pull-left">幸福的子弹</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">郑钧</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">4</span>
                                        <a href="#" class="pull-left">大海</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张雨生</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">5</span>
                                        <a href="#" class="pull-left">爱我别走</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张震岳</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">6</span>
                                        <a href="#" class="pull-left">永远的画面</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张惠妹</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">7</span>
                                        <a href="#" class="pull-left">她来听我的演唱会</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张学友</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">8</span>
                                        <a href="#" class="pull-left">情网</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张学友</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">9</span>
                                        <a href="#" class="pull-left">隐形的翅膀</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张韶涵</a>
                                    </li>
                                    <li class="clearfix">
                                        <span class="badge pull-left">10</span>
                                        <a href="#" class="pull-left">黑色幽默</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">周杰伦</a>
                                    </li>
                                </ul>
                                <div class="text-right"><a href="#">more »</a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="new-box">
                                <i class="icon icon-rocket icon-circled icon-bglight icon-2x pull-left"></i>
                                <h4 class="pull-left">最新加入 · · · · · ·</h4>
                                <div class="clearfix"></div>
                                <ul class="list-unstyled">
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">风雨无阻</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">周华健</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">我是一只小小鸟</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">赵传</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">幸福的子弹</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">郑钧</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">大海</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张雨生</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">爱我别走</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张震岳</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">永远的画面</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张惠妹</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">她来听我的演唱会</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张学友</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">情网</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张学友</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">隐形的翅膀</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">张韶涵</a>
                                    </li>
                                    <li class="clearfix">
                                        <i class="icon-angle-right pull-left"></i>
                                        <a href="#" class="pull-left">黑色幽默</a>
                                        <a href="#" class="link-new-window" title="在新窗口中查看" data-toggle="在新窗口中查看" data-placement="right"><i class="icon-share-alt"></i></a>
                                        <a href="#" class="link-artist pull-right">周杰伦</a>
                                    </li>
                                </ul>
                                <div class="text-right"><a href="#">more »</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="gt-styles">
                        <h4><i class="icon icon-leaf"></i> 音乐风格</h4>
                        <div id="stylecloud">
                            <a href="#" rel="7" style="font-size: 14.218487394957982pt; color: rgb(189, 121, 133);">流行</a>
                            <a href="#" rel="0.1" style="font-size: 9pt; color: rgb(130, 182, 234);">民族</a>
                            <a href="#" rel="2" style="font-size: 10.436974789915967pt; color: rgb(146, 165, 206);">摇滚</a>
                            <a href="#" rel="3" style="font-size: 11.193277310924369pt; color: rgb(155, 156, 192);">民谣</a>
                            <a href="#" rel="4" style="font-size: 11.949579831932773pt; color: rgb(163, 147, 177);">古典</a>
                            <a href="#" rel="5" style="font-size: 12.705882352941178pt; color: rgb(172, 138, 162);">儿歌</a>
                            <a href="#" rel="6" style="font-size: 13.46218487394958pt; color: rgb(180, 129, 148);">爵士</a>
                            <a href="#" rel="7" style="font-size: 14.218487394957982pt; color: rgb(189, 121, 133);">乡村</a>
                            <a href="#" rel="8" style="font-size: 14.974789915966387pt; color: rgb(197, 112, 118);">R&B</a>
                            <a href="#" rel="5" style="font-size: 12.705882352941178pt; color: rgb(172, 138, 162);">蓝调</a>

                        </div>
                    </div>
                    <div class="gt-tags">
                        <h4><i class="icon icon-tags"></i> 曲谱标签</h4>
                        <div id="tagcloud">
                            <a href="#" rel="0.1" style="font-size: 9pt; color: rgb(130, 182, 234);">Lorem</a>
                            <a href="#" rel="2" style="font-size: 10.436974789915967pt; color: rgb(146, 165, 206);">ipsum</a>
                            <a href="#" rel="3" style="font-size: 11.193277310924369pt; color: rgb(155, 156, 192);">dolor</a>
                            <a href="#" rel="4" style="font-size: 11.949579831932773pt; color: rgb(163, 147, 177);">sit</a>
                            <a href="#" rel="5" style="font-size: 12.705882352941178pt; color: rgb(172, 138, 162);">amet,</a>
                            <a href="#" rel="6" style="font-size: 13.46218487394958pt; color: rgb(180, 129, 148);">consectetur</a>
                            <a href="#" rel="7" style="font-size: 14.218487394957982pt; color: rgb(189, 121, 133);">adipisicing</a>
                            <a href="#" rel="8" style="font-size: 14.974789915966387pt; color: rgb(197, 112, 118);">elit,</a>
                            <a href="#" rel="5" style="font-size: 12.705882352941178pt; color: rgb(172, 138, 162);">sed</a>
                            <a href="#" rel="7" style="font-size: 14.218487394957982pt; color: rgb(189, 121, 133);">do</a>
                            <a href="#" rel="3" style="font-size: 11.193277310924369pt; color: rgb(155, 156, 192);">eiusmod</a>
                            <a href="#" rel="1" style="font-size: 9.680672268907562pt; color: rgb(138, 174, 221);">tempor</a>
                            <a href="#" rel="12" style="font-size: 18pt; color: rgb(231, 76, 60);">incididunt</a>
                            <a href="#" rel="1" style="font-size: 9.680672268907562pt; color: rgb(138, 174, 221);">ut</a>
                            <a href="#" rel="2" style="font-size: 10.436974789915967pt; color: rgb(146, 165, 206);">labore</a>
                            <a href="#" rel="5" style="font-size: 12.705882352941178pt; color: rgb(172, 138, 162);">et</a>
                            <a href="#" rel="7" style="font-size: 14.218487394957982pt; color: rgb(189, 121, 133);">dolore</a>
                            <a href="#" rel="1" style="font-size: 9.680672268907562pt; color: rgb(138, 174, 221);">magna</a>
                            <a href="#" rel="4" style="font-size: 11.949579831932773pt; color: rgb(163, 147, 177);">aliqua.</a>
                            <a href="#" rel="1" style="font-size: 9.680672268907562pt; color: rgb(138, 174, 221);">Ut</a>
                            <a href="#" rel="2" style="font-size: 10.436974789915967pt; color: rgb(146, 165, 206);">enim</a>
                            <a href="#" rel="10" style="font-size: 16.48739495798319pt; color: rgb(214, 94, 89);">ad</a>
                            <a href="#" rel="4" style="font-size: 11.949579831932773pt; color: rgb(163, 147, 177);">minim</a>
                            <a href="#" rel="1" style="font-size: 9.680672268907562pt; color: rgb(138, 174, 221);">veniam,</a>
                            <a href="#" rel="1" style="font-size: 9.680672268907562pt; color: rgb(138, 174, 221);">quis</a>
                            <a href="#" rel="8" style="font-size: 14.974789915966387pt; color: rgb(197, 112, 118);">nostrud</a>
                            <a href="#" rel="1" style="font-size: 9.680672268907562pt; color: rgb(138, 174, 221);">exercitation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gt-index-videos">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <a href="#" class="thumbnail img-thumbnail-square" style="width:100%; height:180px"></a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#" class="thumbnail img-thumbnail-square" style="width:100%; height:180px"></a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#" class="thumbnail img-thumbnail-square" style="width:100%; height:180px"></a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#" class="thumbnail img-thumbnail-square" style="width:100%; height:180px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}