<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="height: 800px">
{% block body %}{% endblock %}
<script>
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    function loadTabImages(imgPathsArray) {
        if (imgPathsArray && imgPathsArray.length > 0) {
            var tabDiv = document.getElementById('tabContainer');
            for (var i=0; i<imgPathsArray.length; i++) {
                var tabImg = document.createElement('img');
                tabImg.setAttribute('src', 'http://www.guitar123.net/static/tabs/' + imgPathsArray[i]);
                tabImg.setAttribute('width', '100%');
                tabDiv.appendChild(tabImg);
            }
        }
    }
</script>
</body>
</html>
