{% if 'popup' in request.args %}
    {% extends "site/popup_base.html" %}
{% else %}
    {% extends "site/base.html" %}
    {% block title %} - {{ tab.artist.name }}:{{ tab.title }}{% endblock %}
    {% block active_navbar_tabview %}active{% endblock %}
    {% block landing %}
        <div class="gt-landing small" id="gt-landing"></div>
    {% endblock %}
{% endif %}
{% block body %}
    <div class="gt-tab-view">
        <div class="container">
            <div class="row">
                <div id="tabContainer" class="col-md-8 col-sm-12 col-md-offset-2">
                    {%- if 'popup' in request.args -%}
                        <script>
                            var imgPaths = new Array();
                            {%- for tabfile in tab.tabfiles -%}
                                imgPaths.push('{{ tabfile.file_relpath }}');
                            {%- endfor -%}
                            window.onload = function(){ loadTabImages(imgPaths); };
                        </script>
                    {%- else -%}
                        {%- for tabfile in tab.tabfiles -%}
                            <img src="{{ tabfile.file_relpath }}" width="100%" />
                        {% endfor %}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>

{% endblock %}