{% extends "base.html" %}

{% block active_tabs %}{% endblock %}
{% block active_dashboard %}active{% endblock %}

{% block sidebar %}
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Site Info</li>
                <li><a href="javascript:void(0)"><i class="fa fa-tasks"></i> Site Status</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-warning"></i> Error Logs</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-bar-chart-o"></i> Statistics</a></li>
                <li><a href="https://www.google.com/analytics/web/?hl=zh-CN&pli=1#home/a42340313w72054318p74352125/" target="_blank"><i class="fa fa-google"></i> Analytics</a></li>
                <li class="nav-header">AUTH</li>
                <li class="{% block active_dashboard_administrator %}{% endblock %}">
                    <a href="{{ url_for('bp_admin_administrator.list') }}"><i class="fa fa-user"></i> Administrators</a>
                </li>
                <li class="nav-header">Operations</li>
                <li><a href="javascript:void(0)"><i class="fa fa-inbox"></i> database backup</a></li>
            </ul>
        </div>
    </div>
{% endblock %}