{% extends "admin/base.html" %}

{% block active_scores %}active{% endblock %}

{% block sidebar %}
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Artists</li>
                <li><a href="#"><i class="icon-off"></i> Artists List</a></li>
                <li class="nav-header">Tracks</li>
                <li><a href="#"><i class="icon-off"></i> Tracks List</a></li>
                <li class="nav-header">Scores</li>
                <li><a href="#"><i class="icon-off"></i> Scores List</a></li>
            </ul>
        </div>
    </div>
{% endblock %}