<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GuitarFan {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="lowrain">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}">
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='FlatUI/css/flat-ui.css') }}"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='FontAwesome/css/font-awesome.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='admin.css') }}">
    <script src="{{ url_for('static', filename='FlatUI/js/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block style %}
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
{% import "admin/macro.html" as macro %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="/index.html"><i class="icon-home"></i> {{ config['APP_NAME'] }}</a>

                <ul class="nav">
                    <li class="{% block active_tabs %}{% endblock %}"><a href="{{ url_for('bp_admin_tab.tab_list') }}"><i class="icon-music"></i> Tabs</a></li>
                    <li class="{% block active_dashboard %}{% endblock %}"><a href="{{ url_for('bp_admin_administrator.list') }}"><i class="icon-dashboard"></i> Dashboard</a></li>
                </ul>

                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <b>{{ current_user.name }}</b> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('bp_admin_administrator.edit', id=current_user.id) }}"><i class="icon-cogs"></i> Change Settings</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('bp_admin_administrator.logout') }}">Logout <i class="icon-off"></i></a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            {% block sidebar %}{% endblock %}
            {% block main %}{% endblock %}
        </div>
    </div>
    <hr>
    <footer class="footer">
        <div class="container">
            <p>Create by <a href="https://github.com/lowrain" target="_blank">@lowrain</a>,
                Theme by <a href="http://twitter.github.com/bootstrap" target="_blank">Twitter Bootstrap</a>,
                Power by <a href="http://flask.pocoo.org/" target="_blank">Python/Flask</a>.</p>
        </div>
    </footer>
{% endblock %}
</body>
</html>