{% macro feedback_message()  -%}
    {% with flash_messages = get_flashed_messages(with_categories=true) %}
        {% if flash_messages %}
            {% for category, message in flash_messages %}
                <div class="alert alert-{{ category }}">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {% for msg in message.split(';') %}
                        <i class="fa fa-info-circle"></i> {{ msg }}<br>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{%- endmacro %}

{% macro get_adverse_desc(status)  -%}
    {% if status == 0 %}
        <i class="fa fa-check-circle-o"></i> Enable
    {% elif status == 1 %}
        <i class="fa fa-ban"></i> Disable
    {% endif %}
{%- endmacro %}

{% macro get_status(status)  -%}
    {% if status == False %}
        <i class="fa fa-ban text-error" title="Disabled"></i>
    {% elif status == True %}
        <i class="fa fa-check-circle-o text-success" title="Enabled"></i>
    {% endif %}
{%- endmacro %}

{% macro create_wtf_field(field)  -%}
    <div class="control-group">
        <label class="control-label inline">{{ field.label.text }}{% if field.flags.required %} <span class="required">*</span>{% endif %}</label>
        <div class="controls">
            {{ field(**kwargs) }}
            {%- if field.description -%}
                <span class="help-inline">{{ field.description|safe }}</span>
            {%- endif %}
        </div>
    </div>
{%- endmacro %}