{% extends "tabs/base.html" %}

{% block active_tabs_artist %}active{% endblock %}

{% block main %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dataTables/css/jquery.dataTables.css') }}">
    <script src="{{ url_for('static', filename='dataTables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        {# TODO 1.multiple select 2.can't delete if has any tab 3.not sort any column by default #}
        $(document).ready(function() {
            $('.table').dataTable();
        } );
    </script>
    <div class="span9">
        {% if action == 'list' %}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li>Artist Management</li>
            </ul>

            {{ macro.feedback_message() }}

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="btn-group">
                        <a href="{{ url_for('bp_admin_artist.add')}}" class="btn btn-success"><i class="icon-plus"></i> New Artist</a>
                    </div>
                </div>
            </div>

            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th width="5%"></th>
                    <th width="25%">artist</th>
                    <th width="10%">region</th>
                    <th width="15%">category</th>
                    <th width="20%">update time</th>
                    <th width="12%">tabs count</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for artist in artists %}
                    <tr>
                        <td style="text-align: center">{{ artist.letter }}</td>
                        <td>{{ artist.name }}</td>
                        <td>{{ artist.region_text }}</td>
                        <td>{{ artist.category_text }}</td>
                        <td>{{ artist.update_time }}</td>
                        <td>{{ artist.tabs_count }}</td>
                        <td>
                            <div class="dropdown related_menu">
                                <a title="Related Objects" class="relate_menu dropdown-toggle" data-toggle="dropdown"><i class="icon icon-list"></i></a>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="{{ url_for('bp_admin_artist.edit', id=artist.id) }}"><i class="icon-edit"></i> Edit</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0);" onclick="DeleteArtist('{{ artist.id }}', this)"><i class="icon-remove"></i> Delete</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <script type="text/javascript">
                function DeleteArtist(id, link) {
                    if (confirm('Are you sure you want to delete this artist?')) {
                        $.ajax({
                            url: '{{ url_for('bp_admin_artist.delete') }}',
                            type: 'DELETE',
                            data: { id : id },
                            success: function(result) {
                                if (result == 'success')
                                    $(link).closest('tr').remove();
                            }
                        });
                    }
                }
            </script>
        {% elif action == 'add' %}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li><a href="{{ url_for('bp_admin_artist.list') }}">Artist Management</a> <span class="divider">/</span></li>
                <li>Add</li>
            </ul>

            {{ macro.feedback_message() }}

            <div class="tabbable">
                <form method="post" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="box form-container row-fluid form-horizontal">
                        {{ macro.create_wtf_field(form.name) }}
                        {{ macro.create_wtf_field(form.letter) }}
                        {{ macro.create_wtf_field(form.region) }}
                        {{ macro.create_wtf_field(form.category) }}
                        {{ macro.create_wtf_field(form.photo) }}
                    </div>

                    <div class="form-actions">
                        {{ form.submit(class="btn btn-danger") }}
                    </div>
                </form>
            </div>
        {% elif action == 'edit' %}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li><a href="{{ url_for('bp_admin_artist.list') }}">Artist Management</a> <span class="divider">/</span></li>
                <li>Edit</li>
            </ul>

            {{ macro.feedback_message() }}

            <div class="tabbable">
                <form method="post" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="box form-container row-fluid form-horizontal">
                        {{ macro.create_wtf_field(form.name) }}
                        {{ macro.create_wtf_field(form.letter) }}
                        {{ macro.create_wtf_field(form.region) }}
                        {{ macro.create_wtf_field(form.category) }}
                        {{ macro.create_wtf_field(form.photo) }}
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <img src="{{ photo_path }}" style="width:120px; height:120px" />
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        {{ form.submit(class="btn btn-danger") }}
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}