{%- extends "admin/base.html" -%}

{%- block active_tabs %}active{% endblock -%}

{%- block sidebar -%}
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Tabs</li>
                <li class="{% block active_tabs_tab %}{% endblock %}">
                    <a href="{{ url_for('bp_admin_tab.list') }}"><i class="icon-music"></i> Tabs Mangement</a>
                </li>
                <li class="nav-header">Artists</li>
                <li class="{% block active_tabs_artist %}{% endblock %}">
                    <a href="{{ url_for('bp_admin_artist.list') }}"><i class="icon-group"></i> Artists Mangement</a>
                </li>
                <li class="nav-header">Tags</li>
                <li class="{% block active_tabs_tag %}{% endblock %}">
                    <a href="{{ url_for('bp_admin_tag.list') }}"><i class="icon-tags"></i> Tags Mangement</a>
                </li>
            </ul>
        </div>
    </div>
{%- endblock -%}