{% extends "tabs/base.html" %}

{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dataTables/css/jquery.dataTables.css') }}">
    <style>
        .wizard {
            margin-bottom: 20px;
        }
        .wizard a {
            padding: 10px 12px 10px;
            margin-right: 5px;
            background: #efefef;
            position: relative;
            display: inline-block;
            text-decoration:none;
        }
        .wizard a:before {
            width: 0;
            height: 0;
            border-top: 20px inset transparent;
            border-bottom: 20px inset transparent;
            border-left: 20px solid #fff;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
        }
        .wizard a:after {
            width: 0;
            height: 0;
            border-top: 20px inset transparent;
            border-bottom: 20px inset transparent;
            border-left: 20px solid #efefef;
            position: absolute;
            content: "";
            top: 0;
            right: -20px;
            z-index: 2;
        }
        .wizard a:first-child:before,
        .wizard a:last-child:after {
            border: none;
        }
        .wizard a:first-child {
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }
        .wizard a:last-child {
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
        }
        .wizard .badge {
            margin: 0 5px 0 18px;
            position: relative;
            top: -1px;
        }
        .wizard a:first-child .badge {
            margin-left: 0;
        }
        .wizard .current {
            background: #007ACC;
            color: #fff;
        }
        .wizard .current:after {
            border-left-color: #007ACC;
        }


            /* ff anti-aliasing bug - http://coderwall.com/p/tpmsta */
        .mywizard li {
            position: relative;
            background: #f5f5f5;
            padding-right: 30px;
            padding-left: 5px;
        }

        .mywizard li a:after, .mywizard li a:before {
            left: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .mywizard li a:after {
            border-color: rgba(245, 245, 245, 0);
            border-left-color: #f5f5f5;
            border-width: 20px;
            top: 50%;
            margin-top: -20px;
            margin-left: -30px;
        }

        .mywizard li a:before {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
            border-width: 30px;
            top: 50%;
            margin-top: -30px;
            margin-left: -30px;
        }
        .mywizard li .badge {
            vertical-align: text-bottom;
            padding-top: 3px;
        }

    </style>
{% endblock %}

{% block active_tabs_tab %}active{% endblock %}

{% block main %}
    <div class="span9">
        {% if action == 'list' %}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li>Tab Management</li>
            </ul>

            {{ macro.feedback_message() }}

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="btn-group">
                        <a href="{{ url_for('bp_admin_tab.add')}}" class="btn btn-success"><i class="icon-plus"></i> New Tab</a>
                    </div>
                </div>
            </div>

            <table class="gridTable table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-left" width="22%">title</th>
                    <th width="10%">artist</th>
                    <th width="10%">format</th>
                    <th width="10%">style</th>
                    <th width="10%">difficulty</th>
                    <th width="10%">hits</th>
                    <th width="20%">update time</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for tab in tabs %}
                    <tr>
                        <td>{{ tab.title }}</td>
                        <td class="text-center">{{ tab.artist.name }}</td>
                        <td class="text-center">{{ tab.format_text }}</td>
                        <td class="text-center">{{ tab.style_text }}</td>
                        <td class="text-center">{{ tab.difficulty_text }}</td>
                        <td class="text-center"><span class="label label-important">{{ tab.hits }}</span></td>
                        <td class="text-center">{{ tab.update_time }}</td>
                        <td class="text-center">
                            <div class="dropdown related_menu">
                                <a title="Related Objects" class="relate_menu dropdown-toggle" data-toggle="dropdown"><i class="icon icon-list"></i></a>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li class="text-left"><a href="{{ url_for('bp_admin_tab.edit', id=tab.id) }}"><i class="icon-pencil"></i> Edit</a></li>
                                    <li class="divider"></li>
                                    {% if tab.format_id != 2 %}
                                        <li class="text-left"><a href="{{ url_for('bp_admin_tab.tabfile_edit', tab_id=tab.id) }}"><i class="icon-file-text-alt"></i> Tab File(s)</a></li>
                                    {% endif %}
                                    <li class="text-left"><a href="javascript:void(0);" onclick="DeleteArtist('{{ tab.id }}', this)"><i class="icon-remove"></i> Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% elif action == 'add' %}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li><a href="{{ url_for('bp_admin_tab.list') }}">Tab Management</a> <span class="divider">/</span></li>
                <li>Add Tab</li>
            </ul>

            <div class="wizard">
                <a class="current"><span class="badge  badge-inverse">1</span> Tab Information</a>
                <a><span class="badge">2</span> Upload Tab Files</a>
            </div>

            {{ macro.feedback_message() }}

            {# TODO add text field for txt tab #}

            <div class="tabbable">
                <form method="post" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="box form-container row-fluid form-horizontal">
                        {{ macro.create_wtf_field(form.tab_title, class="span6") }}
                        {{ macro.create_wtf_field(form.artist, class="select2 span4") }}
                        {{ macro.create_wtf_field(form.format, class="select2 span2") }}
                        {{ macro.create_wtf_field(form.difficulty, class="select2 span2") }}
                        {{ macro.create_wtf_field(form.style, class="select2 span2") }}
                        {{ macro.create_wtf_field(form.tags, class="select2 span10") }}
                        {{ macro.create_wtf_field(form.audio_url, class="span10") }}
                    </div>

                    <div class="form-actions">
                        {{ form.submit(class="btn btn-danger", value="Submit and Go To Upload Tabs") }}
                    </div>
                </form>
            </div>
        {% elif action == 'add' %}

        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='dataTables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='FineUploader/jquery.fineuploader-3.7.1.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        function DeleteArtist(id, link) {
            if (confirm('Are you sure you want to delete this tab?')) {
                $.ajax({
                    url: '{{ url_for('bp_admin_tab.delete') }}',
                    type: 'DELETE',
                    data: { id : id },
                    dataType: "text",
                    success: function(result) {
                        if (result == 'success')
                            $(link).closest('tr').remove();
                        else
                            alert(result);
                    }
                });
            }
        }

        $(function() {
            $('.gridTable').dataTable({
                "aaSorting": [[ 6, "desc" ]],
                "sPaginationType": "full_numbers"
            });
            <!-- TODO change to loading data from api which returns json to selector -->
            $(".select2").select2({
                placeholder: "Select a artist"
            });
        });
    </script>
{% endblock %}