{% extends "tabs/base.html" %}

{% block active_tabs_tab %}active{% endblock %}

{% block main %}
    <div class="span10">
        {% if action == 'list' %}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li>Tab Management</li>
            </ul>

            {{ macro.feedback_message() }}

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="btn-group">
                        <a href="{{ url_for('bp_admin_tab.add')}}" class="btn btn-success"><i class="icon-plus"></i> New Tab</a>
                    </div>
                </div>
            </div>

            <table class="gridTable table-hover table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th class="text-left" width="22%">title</th>
                    <th width="12%">artist</th>
                    <th width="8%">format</th>
                    <th width="8%">style</th>
                    <th width="8%">difficulty</th>
                    <th width="8%">hits</th>
                    <th width="8%">preview</th>
                    <th width="18%">update time</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for tab in tabs %}
                    <tr>
                        <td>{{ tab.title }}</td>
                        <td class="text-center">{{ tab.artist.name }}</td>
                        <td class="text-center">{{ tab.format_text }}</td>
                        <td class="text-center">{{ tab.style_text }}</td>
                        <td class="text-center">{{ tab.difficulty_text }}</td>
                        <td class="text-center">{{ tab.hits }}</td>
                        <td class="text-center">
                            {% if tab.tabfiles.count() > 0 %}
                                <a href="javascript:void(0)" style="text-decoration: none;" class="preview_link" data-id="{{ tab.id }}" title="preview tab"><i class="icon-eye-open"></i></a>
                            {% else %}
                                <i class="icon-eye-close"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ tab.update_time }}</td>
                        <td class="text-center">
                            <div class="dropdown related_menu">
                                <a title="Related Objects" class="relate_menu dropdown-toggle" data-toggle="dropdown"><i class="icon icon-list"></i></a>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li class="text-left"><a href="{{ url_for('bp_admin_tab.edit', id=tab.id) }}"><i class="icon-pencil"></i> Edit</a></li>
                                    <li class="divider"></li>
                                    {% if tab.format_id != 2 %}
                                        <li class="text-left"><a href="{{ url_for('bp_admin_tabfile.edit', tab_id=tab.id) }}"><i class="icon-file-text-alt"></i> Tab File(s)</a></li>
                                    {% endif %}
                                    <li class="text-left"><a href="javascript:void(0);" onclick="deleteTab('{{ tab.id }}', this)"><i class="icon-remove"></i> Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% elif action == 'add' %}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li><a href="{{ url_for('bp_admin_tab.list') }}">Tab Management</a> <span class="divider">/</span></li>
                <li>Add Tab</li>
            </ul>

            <div class="wizard">
                <a class="current"><span class="badge  badge-inverse">1</span> Tab Information</a>
                <a><span class="badge">2</span> Upload Tab Files</a>
            </div>

            {{ macro.feedback_message() }}

            {# TODO add text field for txt tab #}

            <div class="tabbable">
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <div class="box form-container row-fluid form-horizontal">
                        {{ macro.create_wtf_field(form.tab_title, class="span6") }}
                        {{ macro.create_wtf_field(form.artist, class="artist_select2 span4") }}
                        {{ macro.create_wtf_field(form.format, class="span2") }}
                        {{ macro.create_wtf_field(form.difficulty, class="span2") }}
                        {{ macro.create_wtf_field(form.style, class="span2") }}
                        {{ macro.create_wtf_field(form.tags, class="tag_select2 span6") }}
                        {{ macro.create_wtf_field(form.audio_url, class="span10") }}
                    </div>

                    <div class="form-actions">
                        {{ form.submit(class="btn btn-danger", value="Submit and Go To Upload Tabs") }}
                    </div>
                </form>
            </div>
        {% elif action == 'edit' %}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li><a href="{{ url_for('bp_admin_tab.list') }}">Tab Management</a> <span class="divider">/</span></li>
                <li>Edit Tab</li>
            </ul>

            {{ macro.feedback_message() }}

            <div class="tabbable">
                <form method="post" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="box form-container row-fluid form-horizontal">
                        {{ macro.create_wtf_field(form.tab_title, class="span6") }}
                        {{ macro.create_wtf_field(form.artist, class="artist_select2 span4") }}
                        {{ macro.create_wtf_field(form.format, class="span2") }}
                        {{ macro.create_wtf_field(form.difficulty, class="span2") }}
                        {{ macro.create_wtf_field(form.style, class="span2") }}
                        {{ macro.create_wtf_field(form.tags, class="tag_select2 span6") }}
                        {{ macro.create_wtf_field(form.audio_url, class="span10") }}
                    </div>

                    <div class="form-actions">
                        {{ form.submit(class="btn btn-danger") }}
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">
        function deleteTab(id, link) {
            if (confirm('Are you sure you want to delete this tab?')) {
                $.ajax({
                    url: '{{ url_for('bp_admin_tab.delete') }}',
                    type: 'DELETE',
                    data: { id : id },
                    dataType: "text",
                    success: function(result) {
                        if (result == 'success')
                            $(link).closest('tr').remove();
                        else
                            alert(result);
                    }
                });
            }
        }

        $(function() {
            $('.gridTable').dataTable({
                "aaSorting": [[ 7, "desc" ]],
                "sPaginationType": "bootstrap",
                aoColumnDefs: [
                    { "sType": "numeric", aTargets: [ 5 ]},
                    { "sType": "string", aTargets: [ 6 ]},
                    { bSortable: false, aTargets: [ -1 ]}
                ]
            });

            $(".artist_select2").select2({
                placeholder: "select a artist",
                minimumInputLength: 1,
                ajax: {
                    url: "{{ url_for('bp_admin_artist.list_json') }}",
                    dataType: 'json',
                    data: function (keyWord, page) {
                        return {
                            q: keyWord
                        };
                    },
                    results: function (data, page) {
                        var dataSource = $.map(data.artists, function(artist){
                            return {id: artist.id, text: artist.name};
                        });

                        return {results: dataSource};
                    }
                },
                initSelection : function (element, callback) {
                    var data = { id: '{{ artist.id if artist }}', text: '{{ artist.name if artist }}' };
                    callback(data);
                },
                dropdownCssClass: "bigdrop"
            });

            $(".tag_select2").select2({
                placeholder: 'select tag(s)'
            });

            $(".preview_link").click(function() {
                $.ajax({
                    {#                    url: '/admin/tabfiles.json',#}
                    url: '{{ url_for('bp_admin_tabfile.list_json') }}',
                    type: 'GET',
                    data: { tab_id : $(this).attr('data-id') },
                    dataType: 'json',
                    success: function(data) {
                        var filesArray = filesArray = $.map(data.tabfiles, function(tabfile){
                            return {'href': tabfile.file_relpath, 'title': tabfile.file_basename};
                        });

                        $.fancybox.open(filesArray, {
                            nextClick: true,
                            arrows: false,
                            {#                            closeBtn: false,#}
                            nextMethod : 'resizeIn',
                            nextSpeed  : 50,
                            prevMethod : false,
                            padding : 0,
                            helpers : {
                                title : {
                                    type : 'over'
                                }
                            }
                        });
                    }
                });

                return false;
            });

        });
    </script>
{% endblock %}