{% extends "tabs/base.html" %}

{%- block active_tabs_tab -%}active{%- endblock -%}

{%- block main -%}
    <div class="span9">
        {%- if show_wizard -%}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li><a href="{{ url_for('bp_admin_tab.list') }}">Tab Management</a> <span class="divider">/</span></li>
                <li>Add</li>
            </ul>
            <div class="wizard">
                <a><span class="badge">1</span> Tab Information</a>
                <a class="current"><span class="badge badge-inverse">2</span> Upload Tab Files</a>
            </div>
        {%- else -%}
            <ul class="breadcrumb">
                <li>Tabs <span class="divider">/</span></li>
                <li><a href="{{ url_for('bp_admin_tab.list') }}">Tab Management</a> <span class="divider">/</span></li>
                <li><a href="{{ url_for('bp_admin_tab.edit', id=tab.id) }}">{{ tab.artist.name + ' - ' + tab.title }}</a> <span class="divider">/</span></li>
                <li>Tab File(s)</li>
            </ul>
        {%- endif -%}

        {{- macro.feedback_message() -}}

        <div class="box form-container row-fluid form-horizontal">
            <div class="control-group">
                <label class="control-label">Artist</label>
                <div class="controls">
                    {{ tab.artist.name }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Title</label>
                <div class="controls">
                    {{ tab.title }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Preview</label>
                <div class="controls">
                    <div class="row-fluid thumb-container">
                        {%- if tab.tabfiles.count() > 0 -%}
                            <ul class="thumbnails">
                                {%- for tabfile in tab.tabfiles -%}
                                    <li class="span3">
                                        <div class="thumbnail text-center">
                                            <a href="{{ tabfile.file_relpath }}" class="fancybox" data-fancybox-group="gallery" title="{{ tabfile.file_basename }}">
                                                <img style="width:200px; height:150px" src="{{ tabfile.file_relpath }}" title="{{ tabfile.file_basename }}">
                                            </a>
                                            {{ tabfile.file_basename }}
                                            <a href="javascript:void(0)" class="deleteLink" style="text-decoration: none" data-id="{{ tabfile.id }}"><i class="icon-trash"></i></a>
                                        </div>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        {%- else -%}
                            No available tab file at this time
                        {%- endif -%}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Upload</label>
                <div class="controls">
                    <div id="fileUpload">
                        <noscript>
                            <p>Please enable JavaScript to use Fine Uploader.</p>
                        </noscript>
                    </div>
                    <div id="triggerUpload" class="btn btn-info btn-mini" style="margin-top: 10px;">
                        <i class="icon-upload icon-white"></i> Upload Now
                    </div>
                </div>
            </div>
            {%- if show_wizard -%}
                <div class="form-actions">
                    <input class="btn btn-danger" id="submit" name="submit" type="submit" value="Finish" onclick="location.href='{{ url_for('bp_admin_tab.list') }}'">
                </div>
            {%- endif -%}
        </div>

    </div>
{%- endblock -%}

{%- block script -%}
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $(document).on('click', '.deleteLink', function() {
                if (!confirm('Are you sure you want to delete this tab file?')) {
                    return false;
                }
                var _this = this;
                $.ajax({
                    url: '{{ url_for('bp_admin_tab.tabfile_delete') }}',
                    type: 'DELETE',
                    data: { id : $(this).attr('data-id') },
                    dataType: "text",
                    success: function(result) {
                        if (result == 'success')
                            $(_this).closest('li').remove();
                        else
                            alert(result);
                    }
                });
            });

            var uploader = $('#fileUpload').fineUploader({
                request: {
                    endpoint: '{{ url_for('bp_admin_tab.tabfile_upload', tab_id=tab.id) }}'
                },
                maxAutoAttempts: 3,
                autoUpload: false,
                editFilename: {
                    enabled: true
                },
                failedUploadTextDisplay: {
                    mode: 'custom',
                    maxChars: 40,
                    responseProperty: 'error',
                    enableTooltip: true
                },
                text: {
                    uploadButton: '<div><i class="icon-cloud-upload icon-white"></i> Select or drag file(s) to upload</div>'
                },
                template:
                        '<table width=100% cellspacing=0 cellpadding=0>' +
                                '   <tr>' +
                                '       <td>' +
                                '           <div class="qq-uploader">' +
                                '               <pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
                                '               <div class="qq-upload-button">{uploadButtonText}</div>' +
                                '               <span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
                                '               <ul class="qq-upload-list"></ul>' +
                                '           </div>' +
                                '       </td>' +
                                '   </tr>' +
                                '</table>',
                classes: {
                    success: 'alert alert-success',
                    fail: 'alert alert-error'
                }
            });
            uploader.on('complete', function(event, id, name, response) {
                if (response.error) {
                    return;
                }

                $.ajax({
                    url: '{{ url_for('bp_admin_tab.tabfile_edit', tab_id=tab.id) }}',
                    type: 'PUT',
                    data: { filename: name },
                    dataType: 'json',
                    success: function(data) {
                        if (data.tabfiles) {
                            var thumbTemplate =
                                    '<li class="span3">' +
                                            '   <div class="thumbnail text-center">' +
                                            '       <a href="{0}" class="fancybox" data-fancybox-group="gallery" title="{1}">' +
                                            '           <img style="width:200px; height:150px" src="{0}" title="{1}">' +
                                            '       </a>' +
                                            '       {1} <a href="javascript:void(0)" class="deleteLink" style="text-decoration: none" data-id="{2}" title="delete file"><i class="icon-trash"></i></a>' +
                                            '   </div>' +
                                            '</li>';
                            var thumbsHTML = '<ul class="thumbnails">';
                            $.each(data.tabfiles, function(i, tabfile) {
                                thumbsHTML += thumbTemplate.format(tabfile.file_relpath, tabfile.file_basename, tabfile.id);
                            });
                            thumbsHTML += '</ul>';
                            $('.thumb-container').html(thumbsHTML);
                        }
                    }
                });
            });
            $('#triggerUpload').click(function() {
                uploader.fineUploader('uploadStoredFiles');
            });

            $('.fancybox').fancybox({
                nextClick: true,
                arrows: false,
{#                closeBtn: false,#}
                nextMethod : 'resizeIn',
                nextSpeed  : 50,
                prevMethod : false,
                padding : 0,
                helpers : {
                    title : {
                        type : 'over'
                    }
                }
            });
        });
    </script>
{%- endblock -%}